<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Happy New Year, My Dear Friends!</title>
    
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">

    
    
</head>
<body>

    
    <div class="container">
        
        <header class="header">

            <div class="snowfall"></div>
            <div class="ball"></div>

            <div class="text"></div>
            
          
            
        </header>
        
        <section>
            <div class="nav">
                <div class="prim">
                    <div class="naq">
                        
                    <button id=btn_start>Помощь</button>
                    
                    </div>
                  <h1><span class="prim1"></span>
                      <div class="prim2">
                      </div>
                    <div class="prim3"></div>
                    </h1>
                </div>
            </div>
        </section>
        
        <section>
            <div class="snow2"></div>
            <div class="santa">
                <a href="http://c917632p.beget.tech/laba_5/postcard"></a>
            </div>
            <div class="snow1"></div>
        </section>
    
    </div>

    
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/jquery.parallax-0.2.js"></script>
    <script src="js/main.js"></script>

</body>
</html>